//Sections
section {
    position: relative;
    z-index: 2;

    h1 {
        color: $blue-light;
    }

    h2 {
        color: $white;
    }

    h3 {
        color: $blue-light;
    }

    h4{
        color: $white;
        font-weight: 600;
    }

    p {
        color: $white;

    }

    span{
        color: $white;
        text-transform: uppercase;
        letter-spacing: .7rem;
        margin-bottom: .5rem;
        display: inline-block;
        font-size: .75rem;
    }

    .icono{
        max-width: 45px;
        width: 100%;
        filter: drop-shadow(0px 4px 5px #1d1d1d);
    }

    .module {
        position: relative;
        border-radius: 1rem;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            filter: blur(2px);
            z-index: 3;
        }

        .content-module, .content-logos {
            position: relative;
            z-index: 4;
        }

        &.m1 {
            &::before {
                background-color: rgba(#262626, .5);
            }

        }

        &.m2 {
            &::before {
                background-color: rgba(#233A43, .5);
            }
        }
    }

    &.sec-1{
        .m1{
            
            @include movil0{
                width: 100%;
            }

            @include movil767{
                width: 59.5%;
            }
        }

        .m2{
            @include movil0{
                width: 100%;
            }

            @include movil767{
                width: 39%;
            }
        }

    }

    &.sec-2{
        
        .module{
            @include movil0{
                width: 100%;
            }

            @include movil767{
                width: 49.5%;
            }

            @include movil1200{
                width: 29%;
            }

            &.m3 {
                &::before {
                    background-color: rgba(#262626, .5);
                }

                @include movil0{
                    width: 100%;
                }
    
                @include movil1200{
                    width: 39%;
                }

            }
            
        }
    }

    &.sec-3{
        .module{
            @include movil0{
                width: 100%;
            }

            @include movil1200{
                width: 49.2%;
            }
        }
    }

    &.sec-4{

        .module{
            @include movil0{
                width: 100%;
            }

            @include movil1200{
                width: 49.2%;
            }
        }

        h4{
            color: #0ACF83;
        }

        a{
            color: #B8E439;
            display: inline-block;
            position: relative;
            left: 0;
            transition: .3s ease;

            i{
                position: relative;
                top: 2px;
            }

            &:hover{
                left: 5px;
                color: #CD6799;
            }
        }

        hr{
            background-color: $white;
            color: $white;
        }

        .proyect, .technologies{
            @include movil0{
                width: 100%;
            }

            @include movil767{
                width: 50%;
            }
        }

        .content-proyects{
            padding: 0;
            position: relative;
            border-radius: 0;
            transition: .3s ease;
            &:hover{
                cursor: pointer;
                background-color: rgba($color: $black, $alpha: .4);
                padding: 1rem 1rem .5rem 1rem;
                border-radius: 1rem;
                transition: .3s ease;

                a{
                    left: 5px;
                 color: #CD6799;
                }
            }
        }


    }
}